@media print{
  body:has(.authorizationsPrint){background:#fff}
  body:has(.authorizationsPrint) *{visibility:hidden}
  body:has(.authorizationsPrint) .authorizationsPrint,body:has(.authorizationsPrint) .authorizationsPrint *{visibility:visible}
}
